html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS RESET ^ */

:root {
    --primary: #138cb1;
    --primary-dark: #1b4079;
    --primary-light: #30bda1;
    --secondary: #cbdf90;
    --secondary-dark: #73d85c; 
    --round-border: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
  padding: 25px;
  background-color: var(--primary);
  color: white;
}

main {
  display: grid;
  grid: 
    '. projects . todos .' auto /
    1fr minmax(100px, 2fr) 1fr minmax(300px, 5fr) 1fr;
  background-color: var(--primary-dark);
  padding: 16px;
  width: 100%;
  max-width: 1920px;
}

li {
  list-style-type: none;
}

h2 {
  margin-bottom: 16px;
}

.projects {
  grid-area: projects;
  background-color: var(--primary-light);
  padding: 16px;
  box-shadow: 8px 8px var(--primary);

  align-self: start;

  display: flex;
  flex-direction: column;
}

.projects-list li {
  padding: 4px;
  cursor: pointer;
}

.projects-list li:hover {
  background-color: rgba(19, 140, 177, 0.5);
  border-radius: var(--round-border);
}

.active-project {
  font-weight: bold;
  background-color: var(--primary);
  border-radius: var(--round-border);
}

.new-project-adder {
  margin-top: 3rem;
}

.todos {
  grid-area: todos;
  background-color: var(--secondary);
  padding: 16px;
  box-shadow: 8px 8px var(--secondary-dark);
}

.todoItemContainer {
  margin: 4px;
  padding: 4px;
  background-color: var(--primary-light);
  border-radius: var(--round-border);
}

.todoItem {
  display: flex;
  flex-direction: column;
}

.todoItem-header {
  display: flex;
  align-items: center;
}

.checkbox-round {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 4px solid white;
  vertical-align: middle;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: var(--primary-dark);
  border: 4px solid white;
}

.completed-todo {
  opacity: 50%;
}

.todoItem-title {
  font-size: 1.25rem;
}

.todoItem-details-container {
  margin: 0 27px;
}

.todoItem-details-footer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.todoItem-dueDate,
.todoItem-priority {
  font-size: 0.75rem;
}

.edit-button {
  width: 25%;
  align-self: center;
}

.new-todo-adder {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}

.warning {
  background-color: lightcoral;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  align-self: center;
  border-radius: 10px;
  margin: 8px;
}

footer {
  width: 100%;
  padding: 8px;
  background-color: var(--primary);
  color: black;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: var(--secondary);
  text-decoration: none;
}

footer a:hover {
  color: var(--secondary-dark);
}