html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS RESET ^ */

:root {
    --primary: #4d7c8a;
    --primary-dark: #1b4079;
    --primary-light: #7f9c96;
    --secondary: #cbdf90;
    --secondary-dark: #8fad88; 
}

main {
    margin-top: 100px;
    display: grid;
    grid: 
      '. projects todos .' auto /
      1fr minmax(100px, 2fr) minmax(300px, 6fr) 1fr;
}


.projects {
  grid-area: projects;
}

.active-project {
  font-weight: bold;
}

.todos {
  grid-area: todos;
}

.new-todo-adder {
  display: flex;
  flex-direction: column;
}

.warning {
  background-color: lightcoral;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  width: 25%;
  align-self: center;
  border-radius: 10px;
  margin: 8px;
}